html {
    font-size: 62.5%;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue",sans-serif;
    background: rgb(34,193,195);
    background: linear-gradient(45deg, rgba(34,193,195,1) 0%, rgba(218,227,234,1) 100%);
    color: white;
    background-attachment: fixed;
}

.app-container {
    padding: 0 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

header {
    font-size: 2.566rem;
}

/* INPUTS */

.input--todo {
    border-radius: 20px;
    border: 1px solid white;
    color: black;
    font-size: 2rem;
    outline: 0;
    padding: 1.5rem 3.5rem;
}

::placeholder {
    color: #cdcbd7;
}

.input-group {
    width: 100%;
    max-width: 600px;
    border-radius: 20px;
    display: flex;
    background-color: white;
}

.input-group .input--todo {
    border: 0;
    flex-grow: 1;
    padding: 1.5rem 1rem;
}

/* BUTTONS */

.btn {
    background: white;
    border: none;
    cursor: pointer;
    border-radius: 20px;
}

.btn--input {
    background: white;
    border: none;
    cursor: pointer;
    padding: 0 10px 0 0;
    border-radius: 20px;
    font-size: 4rem;
    color: #5A4FF3;
    outline: 0;
}

.btn--empty-checkmark,
.btn--done-checkmark,
.btn--trash {
    font-size: 3rem;
    color: #5A4FF3;
    padding: 0 5px 0 2px;
    line-height: 0;
}

/* TODO LIST */

.todo {
    display: flex;
    width: fit-content;
    align-items: center;
    margin-bottom: 20px;
    border-radius: 20px;
    align-items: center;
    background: white;
    opacity: 0.8;
    color: black;

    

}

.todo-item {
    font-size: 1.8rem;
}

.list--todo {
    margin-top: 30px;
    list-style: none;
    width: auto;
    max-width: 500px;
    overflow: hidden;
    padding-left: 0;

}


.ph-x-circle,
.ph-circle {
    pointer-events: none; /* zapobiegamy klikaniu w ikonę zamiast w btn */
}

.completed {
    text-decoration: line-through;
    opacity: 0.5;
    transition: all 0.1s ease-in-out;

}
